.alll {
  background-color: white;
  
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 80%;
  margin: 4rem auto;
  flex-wrap: wrap;
  background-color: white; 

  @media (max-width: 900px) {
    flex-direction: column;
    width: 90%;
  }
}


.checkout-form {
  flex: 1.5;
  min-width: 55%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);

  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #333;
  }

  .section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #555;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #666;
  }

  input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #000;
    }
  }

  .form-group {
    

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  .e-money-fields {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    div {
      flex: 1;
    }
  }
}

.checkout-summary {
  flex: 1;
  width: 90%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-left: 2%;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 1rem;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      span {
        font-weight: 600;
        color: #555;
      }
    }
  }

  .total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    border-top: 1px solid #eee;
    padding-top: 1rem;

    p {
      color: #777;
    }

    h3 {
      color: #000;
    }
  }

  .checkout-btn {
    width: 100%;
    background-color: #c77345;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}
