.abb{
    margin-left: 5%;
    margin-right: 5%;

    .one{
        margin-top: 20%;
        margin-left: 5%;
        margin-left: 5%;
        width: 90%;
        background-color: #f1f1f1;
        padding: 10%;

        img{
            width: 90%;
        }
    }
    h2{
        margin-top: 10%;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 10px;
        color: #D87D4A;
        
    }

    h1{
        font-weight: 700;
        font-size: 28px;
        
        margin-top: 10%;
        margin-bottom: 10%;
        }
        p{
        font-weight: 400;
        font-size: 13px;
        
        line-height: 25px;
    }
    h4{
        font-weight: 700;
        font-size: 18px;
        margin-top: 10%;
    }


    
}

.ff{
    // margin-left: 5%;
    // margin-right: 5%;
    .feature{
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
        
        h2{
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        p{
            font-weight: 400;
            font-size: 13px;
            line-height: 25px;
            margin-top: 20px;
        }
        .in{
            margin-top: 30%;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        .nn{
            display: flex;
            gap: 20%;
            align-items: center;
            margin-top: 5%;
            h3{
                color: #D87D4A;
            }
            p{
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
            }
        }
        .image{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20%;
            img{
                border-radius: 20px;
            }
        }
        
        h1{
            text-align: center;
            margin-top: 30%;
            font-weight: 700;
            font-size: 24px;
        }
    }
}


@media(min-width:768px){
    .hey{
        display: flex;
        gap: 5%;
    }
    .abb{
        .one{
            margin-top: 10%;
            padding: 4%;
            width: 60%;
        }
        h2{
            margin-top: 25%;
        }
        h1{
            margin-top: 3%;
            margin-bottom: 4%;
        }
        h4{
            margin-top: 3%;
        }
    }

    .ff{
        .feature{
            margin-top: 10%;
            .in{
                margin-top: 10%;
            }
            .image{
                flex-direction: row;
                gap: 0;
                img{
                    border-radius: 5px;
                }
            }
            h1{
                margin-top: 10%;
                margin-bottom: 5%;
            }
        }
    }
}


@media(min-width:1024px){
    .abb{
        h2{
            font-size: 17px;
        }
        p{
            font-size: 18px;
        }
    }
    .ff{
        .feature{
            p{
                font-size: 18px;
            }
            h1{
                margin-bottom: 20%;
            }
        }
    }

    .about{
      display: flex;
      gap: 5%;
      align-items: center;
      
      .elll{
        img{
          display: none;
        }
      }

      .ele{
        display: block;
        width: 100%;
        height: 100%;
        
      }

      .elo{
        display: none;
        width: 100%;
        width: 100%;
      }

      h2{
        text-align: start;
      }
      p{
        text-align: start;
        font-size: 17px;
      }
    }
}

@media(min-width:1440px){
    .ff{
        .feature{
            .image{
                img{
                    width: 60%;
                    height: 50%;
                }
            }
        }
    }
}